.hero{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url("../assets/pizza-hero.jpg") center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content h2{
    color: #fff;
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero-content p{
    color: #ddd;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn{
    background: #ff4d00;
    color: #fff;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 14px;
    font-weight: bold;
}

.btn:hover{
    background: #e64500;
}